#furst{
    color: #b9d6c8;
}
#second{
    color: #7f9990;
}
#third{
    color: #c5616b;
}
#fourth{
    color: #e1caca;
}
#fifth{
    color: #d1909c;
}
table{ 
    color: #a08685
}

